.aws
.bundle
.cache
.config/*
!.config/aerospace
!.config/raycast
!.config/sketchybar
.degit
.docker
.eclipse
.flipper
.ipfs
.local
.mplayer
.ngrok
.npm
.nvm
.oracle_jre_usage
.pnpm-state/
.pyenv
.redhat
.rush
.ssh
.swiftpm
.terraform.d
.Trash
.vscode
.yarn
.yarnrc
.zsh_sessions

Applications
Desktop
Documents
Downloads
Library
Local Sites
Movies
Music
Pictures
Public
Tools
Web

.bash_history
.bash_profile
.bashrc
.gitconfig
.lesshst
.mkshrc
.netrc
.npl
.profile
.viminfo
.yarrcn
.zcompdump
.zcompdump-*
.zhistory
.zlogin
.zsh_history

webstorm
node_modules
.DS_Store
.env